@import url('https://fonts.googleapis.com/css2?family=Sawarabi+Mincho&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Sawarabi Mincho", serif;
  line-height: 1.2;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  width: 100%;
}
